<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="happyComponent" class="com.afeibaili.ioc_3.HappyComponent"/>
    <bean id="springIoC" class="com.afeibaili.ioc_3.SpringIoC" init-method="init" destroy-method="destroy"/>
    <bean id="happyComponent02" class="com.afeibaili.ioc_3.HappyComponent" scope="prototype"/>
</beans>